<!DOCTYPE html>
<html>
  <head>
    <title>Galileo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target="#navbar-list">
    <body style="padding-top:70px">
        <div class="navbar navbar-fixed-top">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">By Class
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" style="overflow: scroll;
                    max-height:940px;">
                    {% for route in routes %}
                    <li style="border-bottom-style: solid; border-bottom:#D8D8D8 dotted 1px" ><a href="#{{ route.resource.__name__ }}">{{ route.resource.__name__ }}</a></li>
                    {% endfor %}
                </ul>
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">By Route
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" style="overflow: scroll;
                    max-height:940px;">
                    {% for path, route in route_nav %}
                    <li style="border-bottom-style: solid;
                    border-bottom:#D8D8D8 dotted 1px"><a href="#{{ route.resource.__name__ }}">{{ path }}</a></li>
                    {% endfor %}
                </ul>
            </ul>
        </div>
        <div class="container">
            {% for route in routes %}
                <div style="padding-top: 70px; margin-top: -70px;" 
                    class="row" id="{{ route.resource.__name__ }}">
                    <div class="col-5">
						<div class="row">
							<h4>{{ route.resource.__name__ }} 
								<a target="_blank" href="{{route.source_url()}}"
									style="text-decoration: none">
									<i class="icon-github" ></i></a> 
								<a href="#{{route.resource.__name__}}"
									style="text-decoration: none">
									<i class="icon-link"></i>
								</a> 
								<br/>
								{% for path in route.paths %}
								<small>{{path}}</small><br/>
								{% endfor %}
							</h4>
						</div>
						<div class="row">
                            {% if route.docstring %}
                            <code>
                                {{ route.docstring }}
                            </code>
                            {% endif %}

                            <pre>{{ route.get_fields() }}</pre>
						</div>
                    </div>
                    <div class="col-6 col-offset-1">
                        {% for method in route.methods %}
                        <div class="row">
                            {% if route.method_docs(method) %}
                            <code>
                                {{ route.method_docs(method) }}	
                            </code>
                            {% endif %}
                            <div>
                                <span class="label {{ label_colors[method] }}" >{{ method }}</span><br/>
                                <table class="table table-condensed table-bordered">
                                    <th>Param</th>
                                    <th>Type</th>
                                    <th>Default</th>
                                    <th>Location</th>
                                    <th>Required</th>
                                    {% for arg in route.arguments[method] %}
                                    <tr class="{{ 'warning' if arg.required == 'True' else '' }}">
                                        <td>{{arg.name}}</td>
                                        <td>{{arg.type}}</td>
                                        <td>{{arg.default or 'None'}}</td>
                                        <td>{{arg.location or 'form'}}</td>
                                        <td>{{arg.required or 'False'}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            <div style="padding:50px"></div>
            <hr/>
            {% endfor %}
        
        </div>
	</body>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
  </body>
</html>
</html>
